<% include header.ejs %>

  <ul class="pages">
    <li class="loading page">
      <div class="loading bar">
        <img class="loadingGalaxy" class="l-galaxy" src="src/loading page/loadingGalaxy.gif" />
        <span class="spaceShipLoad">
          <!-- <div class="loadingText">loading...</div> -->
          <img class="loadingSpaceShip" src="src/loading page/loadingSpaceShip.png" />
        </span>
        <img class="loadingGalaxy" class="r-galaxy" src="src/loading page/loadingGalaxy.gif" />
      </div>
    </li>
    <li class="main page">
      <div class="game list">
          <div class="fast-game"><img class="fast-game-btn" src="src/main page/matching.png" /></div>
          <div class="custom-game"><img class="custom-game-btn" src="src/main page/costomGame.png" /></div>
          <div class="game-info">
              <div class="game-account"><img class="game-account-btn" src="src/main page/myAccount.png" /></div>
              <div class="game-setting"><img class="game-setting-btn" src="src/main page/settings.png" /></div>
          </div>
      </div>
    </li>
    <li class="login page">
      <img class="logo" src="src/login page/Logo.png" />
      <div class="form">
        <input class="usernameInput" type="text" maxlength="14" placeholder="Ninkname" />
        <br />
        <img class="start-btn" src="src/login page/startBtn.png" />
      </div>
      <a href="signIn"><img class="signInIcon" src="src/login page/signInIcon.png"></a>
      <!-- <img class="facebookSignInIcon" src="src/login page/facebookIcon.png" />
      <img class="googleSignInIcon" src="src/login page/googleIcon.png" /> -->
      <!-- <div class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div> -->
    </li>
  </ul>

<script>
  var localRoomname = null;
  var localSocketID = null;
  var localRoomIdx = null;
</script>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/GameScript.js"></script>
<script src="js/index.js"></script>
</body>
</html>